# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [2]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [3]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [4]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [5]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [7]:
document = ET.parse( './data/mondial_database.xml' )
root=document.getroot()

In [8]:
import pandas as pd
import numpy as np
# Put names of all countries, population, and infant_mortality stats in a dictionary
country_dict = {}
for element in document.iterfind('country'):
    for population in element.iterfind('population'):
        try:
             country_dict[element.find('name').text] = [int(population.text), 
                                                        float(element.find('infant_mortality').text)]
        except: 
            pass
# Turn the dictionary into a dataframe
country_df = pd.DataFrame.from_dict(country_dict, orient='index') 
country_df.reset_index(drop=False, inplace=True)
country_df.columns = ['Country','Population', 'Infant_Mortality']
# Sort and output the 10 countries with the lowest Infant_Mortality rate
mortaliy_df = country_df.drop('Population', axis=1)
mortaliy_df.sort_values(by='Infant_Mortality').head(10)

            Country  Infant_Mortality
35           Monaco              1.81
210           Japan              2.13
73           Norway              2.48
66          Bermuda              2.48
78        Singapore              2.53
108          Sweden              2.60
57   Czech Republic              2.63
145       Hong Kong              2.73
54            Macao              3.13
188         Iceland              3.15

In [9]:
# Put names of all cities and populations in a dictionary
city_dict = {}
for element in document.iterfind('country'):
    for city in element.iterfind('city'):
        try:
             city_dict[city.find('name').text] = int(city.find('population').text)
        except: 
            pass

# Turn the dictionary into a dataframe
city_df = pd.DataFrame.from_dict(city_dict, orient='index') 
city_df.reset_index(drop=False, inplace=True)
city_df.columns = ['City','Population']

# Sort and output the 10 cities with the largest population
city_df.sort_values(by='Population', ascending=False).head(10)

                City  Population
318            Seoul    10229262
45         Hong Kong     7055071
376       Al Qahirah     6053000
94           Bangkok     5876000
8        Ho Chi Minh     3924435
335            Busan     3813814
75        New Taipei     3722082
230            Hanoi     3056146
287  Al Iskandariyah     2917000
102           Taipei     2626138

In [20]:
# Put names of all countries and populations in a dictionary
country_dict = {}
for element in document.iterfind('country'):    
        try:
             country_dict[element.find('name').text] = int(element.find('population').text)
        except: 
            pass

# Turn the dictionary into a dataframe
pop_df = pd.DataFrame.from_dict(country_dict, orient='index') 
pop_df.reset_index(drop=False, inplace=True)
pop_df.columns = ['Country','Population']
pop_df.head()
# Sort and output the 10 cities with the largest population
pop_df.sort_values(by='Population', ascending=False).head(10)

            Country  Population
90            China   543776080
52            India   238396327
102   United States   157813040
108          Russia   102798657
225           Japan    82199470
97        Indonesia    72592192
209         Germany    68230796
1            Brazil    53974725
237  United Kingdom    50616012
71           France    40502513

In [21]:
# Parse XML and place countries, ethnic groups, and percentages into lists
replace = 'na'
entries = []
for element in document.iter('country'):
    country = element.find('name').text
    for subelement in element.iter('ethnicgroup'):
        group = []
        group.append(country)
        
        if  pd.isnull(subelement):    
            continue
        else:
            group.append(subelement.text)
            if pd.isnull(subelement.attrib['percentage']): 
                group.append(replace)
            else:
                group.append(subelement.attrib['percentage'])

        entries.append(group)

# Transform the list above into a DataFrame and join with pop_df        
ethnic_df = pd.DataFrame(columns=['Country', 'Ethnic_Group', 'Percent_Pop'])
ethnic_df = ethnic_df.append(pd.DataFrame(entries, columns=['Country', 'Ethnic_Group', 'Percent_Pop']), 
                             ignore_index=True)
ethnic_df = ethnic_df.merge(pop_df, how='left', on='Country')
ethnic_df['Group_Pop_Num'] = (ethnic_df['Percent_Pop'].astype(float)/100) * ethnic_df['Population']

ethnic_df

,Country,Ethnic_Group,Percent_Pop,Population,Group_Pop_Num
0,Albania,Albanian,95,1214489,1.153765e+06
1,Albania,Greek,3,1214489,3.643467e+04
2,Greece,Greek,93,1096810,1.020033e+06
3,Macedonia,Macedonian,64.2,808724,5.192008e+05
4,Macedonia,Albanian,25.2,808724,2.037984e+05
5,Macedonia,Turkish,3.9,808724,3.154024e+04
6,Macedonia,Gypsy,2.7,808724,2.183555e+04
7,Macedonia,Serb,1.8,808724,1.455703e+04
8,Serbia,Serb,82.9,6732256,5.581040e+06
9,Serbia,Montenegrin,0.9,6732256,6.059030e+04
10,Serbia,Hungarian,3.9,6732256,2.625580e+05
11,Serbia,Roma,1.4,6732256,9.425158e+04
12,Serbia,Bosniak,1.8,6732256,1.211806e+05
13,Serbia,Croat,1.1,6732256,7.405482e+04
14,Montenegro,Montenegrin,43,311341,1.338766e+05
15,Montenegro,Serb,32,311341,9.962912e+04
16,Montenegro,Bosniak,8,311341,2.490728e+04
17,Montenegro,Albanian,5,311341,1.556705e+04
18,Kosovo,Albanian,92,1584440,1.457685e+06
19,Kosovo,Serbian,5,1584440,7.922200e+04
20,Andorra,Spanish,43,6197,2.664710e+03
21,Andorra,Andorran,33,6197,2.045010e+03
22,Andorra,Portuguese,11,6197,6.816700e+02
23,Andorra,French,2,6197,1.239400e+02
24,Andorra,African,5,6197,3.098500e+02
25,Spain,Mediterranean Nordic,100,18618086,1.861809e+07
26,Austria,Austrian,91.1,4497873,4.097562e+06
27,Austria,Turkish,1.6,4497873,7.196597e+04
28,Austria,Slovene,1,4497873,4.497873e+04
29,Austria,Croat,2,4497873,8.995746e+04
...,...,...,...,...,...
598,Guinea-Bissau,African,99,510777,5.056692e+05
599,Sierra Leone,Asian,1,1944001,1.944001e+04
600,Sierra Leone,African,99,1944001,1.924561e+06
601,Uganda,Rwanda,6,5158193,3.094916e+05
602,Uganda,Arab,1,5158193,5.158193e+04
603,Uganda,Baganda,17,5158193,8.768928e+05
604,Uganda,Karamojong,12,5158193,6.189832e+05
605,Uganda,Basogo,8,5158193,4.126554e+05
606,Uganda,Iteso,8,5158193,4.126554e+05
607,Uganda,Langi,6,5158193,3.094916e+05
608,Uganda,Bagisu,5,5158193,2.579097e+05
609,Uganda,Acholi,4,5158193,2.063277e+05
610,Uganda,Lugbara,4,5158193,2.063277e+05
611,Uganda,Bunyoro,3,5158193,1.547458e+05
612,Uganda,Batobo,3,5158193,1.547458e+05
613,Lesotho,Sotho,99.7,733942,7.317402e+05
614,Mozambique,European,0.06,5738911,3.443347e+03
615,Mozambique,Indian,0.08,5738911,4.591129e+03
616,Mozambique,Euro-African,0.2,5738911,1.147782e+04
617,Mauritius,Creole,27,181318,4.895586e+04
618,Mauritius,Indo-Mauritian,68,181318,1.232962e+05
619,Mauritius,Sino-Mauritian,3,181318,5.439540e+03
620,Mauritius,Franco-Mauritian,2,181318,3.626360e+03
621,Swaziland,European,3,273000,8.190000e+03
622,Swaziland,African,97,273000,2.648100e+05
623,Saint Helena,African descent,50,7637,3.818500e+03
624,Saint Helena,White,25,7637,1.909250e+03
625,Saint Helena,Chinese,25,7637,1.909250e+03
626,Sao Tome and Principe,European,100,60490,6.049000e+04
627,Seychelles,Seychellois,100,36322,3.632200e+04

In [22]:
# Group ethnic_df by ethnic_group to obtain total population counts
ethnic_df_grouped = ethnic_df.groupby('Ethnic_Group').sum()
ethnic_df_grouped.sort_values(by='Group_Pop_Num', ascending=False, inplace=True)

# Display 10 ethnic groups with the largest overall populations
ethnic_df_grouped.head(10)

              Population  Group_Pop_Num
Ethnic_Group
Han Chinese    543776080   4.975551e+08
European       362717873   1.928658e+08
Indo-Aryan     238396327   1.716454e+08
Russian        202263854   9.275844e+07
African        357529690   8.632937e+07
Japanese        82199470   8.170627e+07
German         145710759   6.623219e+07
Dravidian      238396327   5.959908e+07
English         50616012   4.231499e+07
Mestizo         67185932   3.554233e+07

In [23]:
# Create and display a dataframe linking country codes to country names
country_codes = {}
for country in root.findall('country'):
    country_codes[country.attrib['car_code']] = country.find('name').text

columns=['Country_Code', 'Country']
country_codes_df = pd.DataFrame(data=list(country_codes.items()), columns=columns)
country_codes_df

    Country_Code                           Country
0             BD                        Bangladesh
1             WG                           Grenada
2             BF                      Burkina Faso
3             BG                          Bulgaria
4           SBAR                  Saint Barthelemy
5             WL                       Saint Lucia
6             BI                           Burundi
7           WAFU                 Wallis and Futuna
8           FALK                  Falkland Islands
9             WV  Saint Vincent and the Grenadines
10           AXA                          Anguilla
11            WS                             Samoa
12            BR                            Brazil
13            BS                           Bahamas
14           PAL                             Palau
15            BY                           Belarus
16            BZ                            Belize
17            RT                              Togo
18           ROU                           Uruguay
19           JOR                            Jordan
20            RP                       Philippines
21            TN                           Tunisia
22           FGU                     French Guiana
23            GH                             Ghana
24            TL                       Timor-Leste
25          AMSA                    American Samoa
26            CV                        Cape Verde
27           TAD                        Tajikistan
28           RIM                        Mauritania
29          NIUE                              Niue
..           ...                               ...
214            E                             Spain
215           MS                         Mauritius
216           AG               Antigua and Barbuda
217            I                             Italy
218          IRQ                              Iraq
219           IS                           Iceland
220           IR                              Iran
221            M                             Malta
222           AL                           Albania
223           VN                           Vietnam
224         MACX                             Macao
225            Q                             Qatar
226          MOC                        Mozambique
227          ZRE                             Zaire
228          SLO                          Slovenia
229          IRL                           Ireland
230           IL                            Israel
231           AZ                        Azerbaijan
232          SLB                   Solomon Islands
233          RSM                        San Marino
234          ARU                             Aruba
235           RL                           Lebanon
236         WEST                         West Bank
237          KGZ                        Kyrgyzstan
238          AUS                         Australia
239         GROX                         Greenland
240          BHT                            Bhutan
241          NCA                     New Caledonia
242          ARM                           Armenia
243          PNG                  Papua New Guinea

[244 rows x 2 columns]

In [24]:
# Begin to parse XML on the river node

river_list = []
group = []
for river in root.findall('river'):
    try:
        group = [river.attrib['country'], river.find('name').text, int(river.find('length').text)]
        river_list.append(group)
    except:
        pass

# Create a dataframe containing country code, river name, and river length    
columns = ['Country_Code', 'River_Name', 'River_Length']
river_df = pd.DataFrame(columns=columns)
river_df = river_df.append(pd.DataFrame(river_list, columns=columns), ignore_index=True)

# Display resulting dataframe
river_df

            Country_Code           River_Name  River_Length
0                     IS              Thjorsa         230.0
1                     IS  Joekulsa a Fjoellum         206.0
2                      N               Glomma         604.0
3                      N                Lagen         322.0
4                      S            Goetaaelv          93.0
5                    N S             Klaraelv         460.0
6                      S              Umeaelv         470.0
7                      S              Dalaelv         520.0
8                      S       Vaesterdalaelv         320.0
9                      S        Oesterdalaelv         241.0
10                SF N R            Paatsjoki         145.0
11                    SF            Ounasjoki         300.0
12                    SF             Kemijoki         550.0
13                    SF             Oulujoki         107.0
14                    SF             Kymijoki         203.0
15                    SF        Kokemaeenjoki         121.0
16                  SF R               Vuoksi         162.0
17                    GB               Thames         346.0
18                NL B F                 Maas         925.0
19                     F                Loire        1013.0
20                   F E              Garonne         647.0
21                  F CH                Rhone         812.0
22                     F                Saone         480.0
23                  F CH                Doubs         453.0
24                     F                Isere         290.0
25                     F                Seine         776.0
26                     F                Marne         514.0
27                   E P                 Tajo        1007.0
28                   E P                Douro         897.0
29                   E P             Guadiana         742.0
..                   ...                  ...           ...
199          ZRE RCA RCB               Ubangi        1120.0
200              ZRE RCA                 Bomu         280.0
201                  ZRE                Uelle        1130.0
202                  ZRE                  Kwa         100.0
203                  ZRE                 Fimi         200.0
204                  ZRE              Lukenie         900.0
205              ANG ZRE                Kasai        1983.0
206              ANG ZRE               Cuango        1100.0
207              ANG ZRE                Cuilo         970.0
208                  ZRE                 Ruki         130.0
209                  ZRE               Busira         830.0
210                  ZRE              Tshuapa        1300.0
211                  ZRE                Lulua         970.0
212                  ZRE               Lomami        1450.0
213                  ZRE              Aruwimi        1287.0
214                  ZRE               Lukuga         350.0
215           ZRE RWA BI               Ruzizi         104.0
216                  ZRE                Luvua         350.0
217                ZRE Z              Luapula         300.0
218  ANG NAM RB Z ZW MOC              Zambezi        2574.0
219               MW MOC                Chire         402.0
220           ANG NAM RB             Okavango        1700.0
221        RSA MOC ZW RB              Limpopo        1750.0
222           LS NAM RSA               Oranje        2160.0
223                  RSA                 Vaal        1251.0
224                  AUS         Murray River        2589.0
225                  AUS        Darling River        2739.0
226                  AUS   Murrumbidgee River        1579.0
227                  AUS      Eucumbene River          83.0
228                  AUS          Snowy River         403.0

[229 rows x 3 columns]

In [26]:
# As we can see above, some rivers are associated with multiple country codes
# Create a new, expanded dataframe so that each river has one country code association
expanded_river_list = []
for row in river_df.itertuples(): 
    if len(row[1].split(' ')) == 1:
        entry = [row[1], row[2], row[3]]
        expanded_river_list.append(entry)
    else:
        for code in row[1].split(' '):
            entry = [code, row[2], row[3]]
            expanded_river_list.append(entry)

expanded_river_df = pd.DataFrame(columns=['Country_Code', 'River_Name', 'River_Length'])
expanded_river_df = expanded_river_df.append(pd.DataFrame(expanded_river_list, columns=['Country_Code', 'River_Name', 'River_Length']), 
                             ignore_index=True)
# Display new, expanded dataframe
expanded_river_df

    Country_Code           River_Name  River_Length
0             IS              Thjorsa         230.0
1             IS  Joekulsa a Fjoellum         206.0
2              N               Glomma         604.0
3              N                Lagen         322.0
4              S            Goetaaelv          93.0
5              N             Klaraelv         460.0
6              S             Klaraelv         460.0
7              S              Umeaelv         470.0
8              S              Dalaelv         520.0
9              S       Vaesterdalaelv         320.0
10             S        Oesterdalaelv         241.0
11            SF            Paatsjoki         145.0
12             N            Paatsjoki         145.0
13             R            Paatsjoki         145.0
14            SF            Ounasjoki         300.0
15            SF             Kemijoki         550.0
16            SF             Oulujoki         107.0
17            SF             Kymijoki         203.0
18            SF        Kokemaeenjoki         121.0
19            SF               Vuoksi         162.0
20             R               Vuoksi         162.0
21            GB               Thames         346.0
22            NL                 Maas         925.0
23             B                 Maas         925.0
24             F                 Maas         925.0
25             F                Loire        1013.0
26             F              Garonne         647.0
27             E              Garonne         647.0
28             F                Rhone         812.0
29            CH                Rhone         812.0
..           ...                  ...           ...
380          ZRE               Ruzizi         104.0
381          RWA               Ruzizi         104.0
382           BI               Ruzizi         104.0
383          ZRE                Luvua         350.0
384          ZRE              Luapula         300.0
385            Z              Luapula         300.0
386          ANG              Zambezi        2574.0
387          NAM              Zambezi        2574.0
388           RB              Zambezi        2574.0
389            Z              Zambezi        2574.0
390           ZW              Zambezi        2574.0
391          MOC              Zambezi        2574.0
392           MW                Chire         402.0
393          MOC                Chire         402.0
394          ANG             Okavango        1700.0
395          NAM             Okavango        1700.0
396           RB             Okavango        1700.0
397          RSA              Limpopo        1750.0
398          MOC              Limpopo        1750.0
399           ZW              Limpopo        1750.0
400           RB              Limpopo        1750.0
401           LS               Oranje        2160.0
402          NAM               Oranje        2160.0
403          RSA               Oranje        2160.0
404          RSA                 Vaal        1251.0
405          AUS         Murray River        2589.0
406          AUS        Darling River        2739.0
407          AUS   Murrumbidgee River        1579.0
408          AUS      Eucumbene River          83.0
409          AUS          Snowy River         403.0

[410 rows x 3 columns]

In [27]:
# Merge the country code and expanded river dataframes together
# Sort the dataframe by river length and country name
# Display the river with the greatest length
country_river_df = expanded_river_df.merge(country_codes_df, how='left', on='Country_Code')
print('The Amazonas river is the longest, and is associated with Brazil, Colombia, and Peru.')
country_river_df.sort_values(by=['River_Length', 'Country'], ascending=[False, True]).head(3)

The Amazonas river is the longest, and is associated with Brazil, Colombia, and Peru.

    Country_Code River_Name  River_Length   Country
295           BR   Amazonas        6448.0    Brazil
294           CO   Amazonas        6448.0  Colombia
296           PE   Amazonas        6448.0      Peru

In [29]:
# Begin to parse XML on the lake node

lake_list = []
group = []
for lake in root.findall('lake'):
    try:
        group = [lake.attrib['country'], lake.find('name').text, int(lake.find('area').text)]
        lake_list.append(group)
    except:
        pass

# Create a dataframe containing country code, lake name, and lake area    
columns = ['Country_Code', 'Lake_Name', 'Lake_Area']
lake_df = pd.DataFrame(columns=columns)
lake_df = lake_df.append(pd.DataFrame(lake_list, columns=columns), ignore_index=True)

# Display resulting dataframe
lake_df

    Country_Code                    Lake_Name  Lake_Area
0             SF                        Inari     1040.0
1             SF                   Oulujaervi      928.0
2             SF                    Kallavesi      472.0
3             SF                       Saimaa     4370.0
4             SF                   Paeijaenne     1118.0
5              N                   Mjoesa-See      368.0
6              S                     Storuman      173.0
7              S                       Siljan      290.0
8              S                     Maelaren     1140.0
9              S                      Vaenern     5648.0
10             S                     Vaettern     1900.0
11            GB                    Loch Ness       56.0
12            GB                  Loch Lomond       71.0
13             D                     Chiemsee       80.0
14          F CH                    Lac Leman      581.0
15            CH                    Zurichsee       88.0
16          I CH                Lago Maggiore      216.0
17             I                 Lago di Como      146.0
18             I               Lago di Garda       370.0
19             I               Lago Trasimeno      128.0
20             I              Lago di Bolsena      114.0
21             I            Lago di Bracciano       57.0
22           A H                Neusiedlersee      320.0
23             H                      Balaton      594.0
24        AL MNE                 Lake Skutari      368.0
25      AL MK GR                  Lake Prespa      273.0
26         AL MK                   Lake Ohrid      367.0
27            UA               Kiev Reservoir      922.0
28            UA           Kakhovka Reservoir     2155.0
29            UA         Kremenchuk Reservoir     2252.0
..           ...                          ...        ...
95           USA                Lake Michigan    57800.0
96       CDN USA                Lake Superior    82103.0
97       USA CDN               Lake Champlain     1130.0
98           USA           Lake Winnipesaukee      186.0
99           USA              Lake Okeechobee     1890.0
100          USA                Kentucky Lake      648.0
101          USA             Chickamauga Lake      147.0
102          USA  Franklin. D. Roosevelt Lake      337.0
103          USA              Great Salt Lake     4400.0
104          USA                   Lake Tahoe      497.0
105          USA                 Pyramid Lake      487.0
106          USA                  Lake Powell      645.0
107          USA                    Lake Mead      640.0
108          USA               Fort Peck Lake      981.0
109          USA               Lake Sakakawea     1578.0
110          USA                    Lake Oahe     1453.0
111          MEX              Lago de Chapala     1685.0
112       NIC CR               Lake Nicaragua     8157.0
113          NIC                 Lake Managua     1035.0
114           CR                   Lake Irazu        1.0
115           YV               Lake Maracaibo    13000.0
116           BR           Lago de Sobradinho     4214.0
117       BOL PE                Lake Titicaca     8372.0
118          BOL                        Poopo     1340.0
119          BOL               Salar de Uyuni    10582.0
120           RA          Laguna Mar Chiquita     5770.0
121          AUS                    Lake Eyre     9500.0
122          AUS               Lake Eucumbene      145.0
123          AUS               Lake Jindabyne       30.0
124          AUS                    Lake Hume      202.0

[125 rows x 3 columns]

In [30]:
# As we can see above, some lakes are associated with multiple country codes
# Create a new, expanded dataframe so that each lake has one country code association

expanded_lake_list = []
for row in lake_df.itertuples(): 
    if len(row[1].split(' ')) == 1:
        entry = [row[1], row[2], row[3]]
        expanded_lake_list.append(entry)
    else:
        for code in row[1].split(' '):
            entry = [code, row[2], row[3]]
            expanded_lake_list.append(entry)

expanded_lake_df = pd.DataFrame(columns=['Country_Code', 'Lake_Name', 'Lake_Area'])
expanded_lake_df = expanded_lake_df.append(pd.DataFrame(expanded_lake_list, columns=['Country_Code', 'Lake_Name', 'Lake_Area']), 
                             ignore_index=True)

# Display new, expanded dataframe
expanded_lake_df

    Country_Code                    Lake_Name  Lake_Area
0             SF                        Inari     1040.0
1             SF                   Oulujaervi      928.0
2             SF                    Kallavesi      472.0
3             SF                       Saimaa     4370.0
4             SF                   Paeijaenne     1118.0
5              N                   Mjoesa-See      368.0
6              S                     Storuman      173.0
7              S                       Siljan      290.0
8              S                     Maelaren     1140.0
9              S                      Vaenern     5648.0
10             S                     Vaettern     1900.0
11            GB                    Loch Ness       56.0
12            GB                  Loch Lomond       71.0
13             D                     Chiemsee       80.0
14             F                    Lac Leman      581.0
15            CH                    Lac Leman      581.0
16            CH                    Zurichsee       88.0
17             I                Lago Maggiore      216.0
18            CH                Lago Maggiore      216.0
19             I                 Lago di Como      146.0
20             I               Lago di Garda       370.0
21             I               Lago Trasimeno      128.0
22             I              Lago di Bolsena      114.0
23             I            Lago di Bracciano       57.0
24             A                Neusiedlersee      320.0
25             H                Neusiedlersee      320.0
26             H                      Balaton      594.0
27            AL                 Lake Skutari      368.0
28           MNE                 Lake Skutari      368.0
29            AL                  Lake Prespa      273.0
..           ...                          ...        ...
140          CDN               Lake Champlain     1130.0
141          USA           Lake Winnipesaukee      186.0
142          USA              Lake Okeechobee     1890.0
143          USA                Kentucky Lake      648.0
144          USA             Chickamauga Lake      147.0
145          USA  Franklin. D. Roosevelt Lake      337.0
146          USA              Great Salt Lake     4400.0
147          USA                   Lake Tahoe      497.0
148          USA                 Pyramid Lake      487.0
149          USA                  Lake Powell      645.0
150          USA                    Lake Mead      640.0
151          USA               Fort Peck Lake      981.0
152          USA               Lake Sakakawea     1578.0
153          USA                    Lake Oahe     1453.0
154          MEX              Lago de Chapala     1685.0
155          NIC               Lake Nicaragua     8157.0
156           CR               Lake Nicaragua     8157.0
157          NIC                 Lake Managua     1035.0
158           CR                   Lake Irazu        1.0
159           YV               Lake Maracaibo    13000.0
160           BR           Lago de Sobradinho     4214.0
161          BOL                Lake Titicaca     8372.0
162           PE                Lake Titicaca     8372.0
163          BOL                        Poopo     1340.0
164          BOL               Salar de Uyuni    10582.0
165           RA          Laguna Mar Chiquita     5770.0
166          AUS                    Lake Eyre     9500.0
167          AUS               Lake Eucumbene      145.0
168          AUS               Lake Jindabyne       30.0
169          AUS                    Lake Hume      202.0

[170 rows x 3 columns]

In [33]:
# Merge the country code and expanded lake dataframes together
# Sort the dataframe by lake area and country name
# Display the lake with the greatest area
country_lake_df = expanded_lake_df.merge(country_codes_df, how='left', on='Country_Code')
print('The Caspian Sea is the largest, and is associated with Azerbaijan, Iran, Kazakhstan, Russia, and Turkmenistan.')
country_lake_df.sort_values(by=['Lake_Area', 'Country'], ascending=[False, True]).head(5)

The Caspian Sea is the largest, and is associated with Azerbaijan, Iran, Kazakhstan, Russia, and Turkmenistan.

   Country_Code    Lake_Name  Lake_Area       Country
57           AZ  Caspian Sea   386400.0    Azerbaijan
59           IR  Caspian Sea   386400.0          Iran
58          KAZ  Caspian Sea   386400.0    Kazakhstan
56            R  Caspian Sea   386400.0        Russia
60           TM  Caspian Sea   386400.0  Turkmenistan

In [34]:
# Begin to parse XML on the airport node

airport_list = []
group = []
for airport in root.findall('airport'):
    try:
        group = [airport.attrib['country'], airport.find('name').text, int(airport.find('elevation').text)]
        airport_list.append(group)
    except:
        pass

# Create a dataframe containing country code, airport name, and airport elevation    
columns = ['Country_Code', 'Airport_Name', 'Airport_Elevation']
airport_df = pd.DataFrame(columns=columns)
airport_df = airport_df.append(pd.DataFrame(airport_list, columns=columns), ignore_index=True)

# Display resulting dataframe
airport_df

     Country_Code                          Airport_Name  Airport_Elevation
0             AFG                                 Herat              977.0
1             AFG                            Kabul Intl             1792.0
2              AL                          Tirana Rinas               38.0
3              DZ                  Cheikh Larbi Tebessi              811.0
4              DZ                         Batna Airport              822.0
5              DZ                               Soummam                6.0
6              DZ                           Tamanrasset             1377.0
7              DZ                                Biskra               88.0
8              DZ                  Mohamed Boudiaf Intl              691.0
9              DZ                     Ain Arnat Airport             1024.0
10             DZ                              Es Senia               90.0
11             DZ                              Noumerat              461.0
12             DZ                                Annaba                5.0
13             DZ                     Houari Boumediene               25.0
14             DZ                                Zenata              248.0
15           AMSA                        Pago Pago Intl               10.0
16            ANG                               Lubango             1762.0
17            ANG                               Cabinda               20.0
18            ANG                              Menongue             1363.0
19            ANG                 Luanda 4 De Fevereiro               74.0
20            ANG                                Huambo             1703.0
21            AXA                             Wallblake               39.0
22             AG                         V C Bird Intl               19.0
23             RA                              La Rioja              438.0
24             RA                                 Jujuy              920.0
25             RA                     Comandante Espora               75.0
26             RA            Teniente Benjamin Matienzo              456.0
27             RA                              San Luis              710.0
28             RA                   Santiago del Estero              200.0
29             RA                           Sauce Viejo               17.0
...           ...                                   ...                ...
1259          UZB                             Samarkand              678.0
1260           VU                  Port Vila Bauerfield               21.0
1261           YV            General Manuel Carlos Piar              144.0
1262           YV  General Jose Antonio Anzoategui Intl                8.0
1263           YV                       Casique Aramare               75.0
1264           YV                               Barinas              203.0
1265           YV                     Barquisimeto Intl              623.0
1266           YV                       La Chinita Intl               72.0
1267           YV                 Arturo Michelena Intl              432.0
1268           YV                               Maturin               68.0
1269           YV                    Simon Bolivar Intl               72.0
1270           VN                              Rach Gia                2.0
1271           VN                          Vinh Airport                7.0
1272           VN                       Tansonnhat Intl               10.0
1273           VN                           Noibai Intl               12.0
1274           VN          Cat Bi International Airport                2.0
1275           VN                       Tra Noc Airport                3.0
1276           VN                             Nha Trang                6.0
1277         VIRG                          Cyril E King                7.0
1278         WAFU                                Wallis               24.0
1279          WSA                      Hassan I Airport               63.0
1280           YE                            Sanaa Intl             2200.0
1281           YE                         Hodeidah Intl               13.0
1282           YE                             Taiz Intl             1475.0
1283           YE                             Aden Intl                2.0
1284            Z                           Livingstone             1007.0
1285            Z                                 Ndola             1270.0
1286            Z                           Lusaka Intl             1152.0
1287           ZW                        J M Nkomo Intl             1329.0
1288           ZW                           Harare Intl             1490.0

[1289 rows x 3 columns]

In [35]:
# Merge the country code and airport dataframes together
# Sort the dataframe by airport elevation and country name
# Display the airport with the highest elevation
country_airport_df = airport_df.merge(country_codes_df, how='left', on='Country_Code')
print('El Alto International Airport sits at the highest elevation, and is located in Bolivia.')
country_airport_df.sort_values(by=['Airport_Elevation', 'Country'], ascending=[False, True]).head(1)

El Alto International Airport sits at the highest elevation, and is located in Bolivia.

   Country_Code  Airport_Name  Airport_Elevation  Country
80          BOL  El Alto Intl             4063.0  Bolivia